spring.application.name=shopping-discount
server.port=8080

#DataSource
spring.datasource.url=jdbc:h2:mem:demoshoppingdiscount
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

# Show or not log for each sql query
# Hibernate ddl auto (create, create-drop, update)
spring.jpa.hibernate.ddl-auto = update
